.git
.DS_Store
.env
.env.*
!.env.example
!.env.edge.example
!.env.production.example
!.env.edge.production.example
.npm-cache
.runtime
node_modules
release
data
apps/api-server/data
apps/*/dist
apps/*/node_modules
*.dump
*.log
*.tar.gz
*.tsbuildinfo
coverage
